@import "../../App.scss";

%search {
  height: 100%;
  background-color: #f0f0f0;
  border: none;
  border-bottom: 2px solid #42424291;
  font-size: var(--fs-text);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 45rem;
}

.animal-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-field {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  height: 3rem;
  margin-top: 3rem;
  input {
    width: 18rem;
    @extend %search;
  }
  select {
    width: 10rem;
    @extend %search;
  }
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    .search-icon {
      position: absolute;
      right: 0;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  button {
    @include button;
    background-color: $white-color;
    color: black;
    margin: 3rem;
    width: 80rem;
    border-radius: 35px 35px 35px 35px;
    border: 3px solid $blue-color;
  }
}
