@import "../../App.scss";

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: $grey-color;
  position: sticky;
  top: 0;
  background-color: $white-color;
  z-index: 2;
  .header-content {
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 6rem;
  }
  &:before {
    content: "";
    position: absolute;
    background-color: $grey-color;
    bottom: -1px;
    width: 100vw; //ändrat från vw till % för att få bort horizontell scroll
    height: 1px;
  }
  &:after {
    content: "";
    position: absolute;
    background-color: $white-color;
    bottom: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
  }
  figure {
    display: flex;
    align-items: center;
    height: 100%;
  }
  img {
    width: 80%;
  }
  h1 {
    flex: 1;
    margin-bottom: 1.6rem;
    margin-left: 1rem;
    font-size: $fs-header;
    font-weight: 500;
  }
  a {
    justify-content: flex-end;
    margin-bottom: 1.7rem;
    font-size: $fs-s-header;
    cursor: pointer;
  }
  .overlay {
    display: grid;
  }
  .contactContent{
    display: flex;
    flex-direction: column;

    p {
      font-size: 1rem;
      margin: 0.5rem;
    }
    p:first-of-type{
      font-weight: 700;
    }
    p:last-of-type{
      margin-top: 1.5rem;
    }
    .adress {
      text-align: center;
    }
    .social-media{
      div{
        padding-top: 1rem;
      }
    }
  }
}
