@import "../../App.scss";

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background-color: #000;
    top: 0;
    left: -5vw;
    width: 100vw;
    height: 2px;
  }
  .adress {
    .phone {
      padding-top: 1rem;
    }
  }
}
