@import "../../App.scss";

.animalInfo {
  margin-top: 1.5rem;
  max-width: 50%;
  color: $grey-color;
  font-size: var(--fs-text);
  div:first-of-type {
    display: flex;
    align-items: center;
    p {
      color: $blue-color;
    }
  }
  .animalInfo__location {
    display: flex;
    align-items: center;
    padding: 1rem 0 3rem 0;
    font-size: var(--fs-a);
    figure {
      width: 25px;
      height: 25px;
      .animalInfo__locationPin {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.overlay__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .animalInfo__age {
    font-size: var(--fs-a);
  }
  .animalInfo__location {
    display: flex;
    align-items: center;
    font-size: var(--fs-a);
    figure {
      width: 25px;
      height: 25px;
      .animalInfo__locationPin {
        height: 100%;
        width: 100%;
      }
    }
  }
}
