@import "../../models/variables";

.animal-info {
  margin-top: 1.5rem;
  max-width: 50%;
  color: $grey-color;
  font-size: var(--fs-text);
  div:first-of-type {
    display: flex;
    align-items: center;
    p {
      color: $blue-color;
    }
  }
  .animal-info-location {
    display: flex;
    align-items: center;
    padding: 1rem 0 3rem 0;
    font-size: var(--fs-a);
    figure {
      width: 25px;
      height: 25px;
      .animal-info-location-pin {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.overlay-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .animal-info-age {
    font-size: var(--fs-a);
  }
  .animal-info-location {
    display: flex;
    align-items: center;
    font-size: var(--fs-a);
    figure {
      width: 25px;
      height: 25px;
      .animal-info-location-pin {
        height: 100%;
        width: 100%;
      }
    }
  }
}
