@import "../../App.scss";

.overlay {
    position: fixed; 
    display: none; /* none by default. toggla med display: grid */
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); 
    z-index: 2; 
    cursor: pointer;
    place-content: center;

    .overlay__container {
        background-color: $white-color;
        width: 60vw;
        height: 60vh;
        cursor: default;
        .overlay__header {
            display: flex;
            justify-content: center;
            position: relative;
            padding: 2rem;
            figure {
                position: absolute;
                right: 5px;
            }
        }
        .overlay__main {
            display: flex;
            justify-content: center;
            padding: 0;
            
            .animalInfo__img {
                height: fit-content;
                max-width: 150px;
            }
            
        }
    }
    
}
.animalInfo {
    color: $grey-color;
    font-size: 1.3rem;
    max-width: 40%;
    padding-left: 1rem;
    .animalInfo__name {
        color: $grey-color;
        font-size: 2.625rem;
        text-decoration: underline 2px $blue-color;
    }
    .animalInfo__location {
        display: flex;
        padding: 1rem 0 3rem 0;
        figure {
            width: 25px;
            height: 25px;
            .animalInfo__locationPin {
                
                height: 100%;
                width: 100%;
            }
        }
    }
    
}
