@import "../../App.scss";

.overlay {
    position: fixed; 
    display: none; /* none by default. toggla med display: grid */
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); 
    z-index: 2; 
    cursor: pointer;
    place-content: center;
    .overlay__container {
        background-color: $white-color;
        width: 60vw;
        min-height: 60vh;
        cursor: default;
        .overlay__header {
            display: flex;
            justify-content: center;
            position: relative;
            padding: 2rem;
            figure {
                position: absolute;
                right: 2rem;
            }
        }
        .overlay__main {
            display: flex;
            justify-content: center;
            padding: 0;
            .animalInfo__img {
                height: fit-content;
                max-width: 150px;
            }
        }
        .overlay__footer{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 3rem;
        }
    }
}

