@import "../../models/variables";

.showOverlay {
  display: grid; /* none by default. toggla med display: grid */
}
.hideOverlay {
  display: none;
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  // display: none; /* none by default. toggla med display: grid */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  place-content: center;
  .overlay__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
    width: 60vw;
    min-height: 60vh;
    cursor: default;
    padding: 2rem;
    box-shadow: -10px 10px 14px rgba(0, 0, 0, 0.25);
    .overlay__header {
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      // padding-right: 2rem;
      figure {
        position: absolute;
        margin-left: auto;
        right: 2rem;
        cursor: pointer;
        // padding-right:2rem ;
      }
    }
    .overlay__main {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      gap: 1rem;
      width: 100%;
      div {
        display: flex;
        gap: 1rem;
      }
      .animalInfo__img {
        height: fit-content;
        max-width: 200px;
        max-height: 300px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // padding-right: 1rem;
      }
      .animalInfo__name {
        color: $grey-color;
        font-size: var(--fs-header);
        text-decoration: underline 2px rgba(94, 159, 255, 0.6);
        text-underline-offset: 4px;
      }
    }
    .overlay__main--column {
      flex-direction: column;
      align-items: center;
    }
    .overlay__footer {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      padding: 0;
      .interestedCount {
        font-size: var(--fs-small);
        margin-bottom: 1rem;
      }
    }
  }
}

.confirmedGif img {
  width: 250px;
}

@media screen and (max-width: 1100px) {
  .overlay__container {
    width: 90% !important;
  }
  .animalInfo__img {
    max-width: 150px !important;
  }
}

@media screen and (max-width: 900px) {
  .overlay__container {
    width: 100% !important;
    padding: 2rem 0 2rem 0 !important;
  }
  .overlay__main {
    width: 50%;
    flex-direction: column !important;
  }
  .overlay__info {
    width: max-content;
  }
}
