@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

$grey-color: #50585b;
$white-color: #f0f0f0;
$blue-color: #5e9fff;
$green-color: #7eb780;
$error-color: #dc3545;
$success-color: #28a745;

:root {
  --fs-header: 48px;
  --fs-logo: 26px;
  --fs-a: 20px;
  --fs-text: 16px;
  --fs-small: 10px;
}

@mixin button-color {
  background-color: $blue-color;
  color: $white-color;
  border: 1px solid $blue-color;
}

@mixin button {
  @include button-color;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 29px;
  border-radius: 5px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $white-color;
  overflow-x: hidden;
}

.App {
  margin: 0 auto;
  width: 1000px;
  max-width: 90%;
  position: relative;
}

a {
  text-decoration: none;
  color: $grey-color;
}

.button-overlay {
  @include button;
  width: fit-content;
}

.button-green {
  @include button;
  background-color: $green-color;
  border: 1px solid $green-color;
  align-self: flex-end;
}

.button-center {
  @include button;
  align-self: center;
}

@media screen and (max-width: 900px) {
  :root {
    --fs-header: 40px;
    --fs-logo: 24px;
    --fs-a: 16px;
    --fs-text: 14px;
  }
}
