@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@import "../src/models/variables";


* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $white-color;
  overflow-x: hidden;
}

.App {
  margin: 0 auto;
  width: 1200px;
  max-width: 90%;
  position: relative;
}

a {
  text-decoration: none;
  color: $grey-color;
}

.button-overlay {
  @include button;
  width: fit-content;
}

#button-green {
  @include button;
  background-color: $green-color;
  border: 1px solid $green-color;
  align-self: flex-end;
}

.button-center {
  @include button;
  align-self: center;
}

